body{
  background-image: url(IMG/fondo.jpg!d);/* Fondo de pantalla */
    background-attachment: fixed;
    background-size: cover; 
    background-position: center center; 
}
.IMAGENES {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.IMAGENES DIV {
     display: inline-block;
     margin: 10px;
     transition: transform 0.3s;
  }
.IMAGENES DIV:hover {
    transform: scale(1.2); 
  }


  .centrado {

   display: flex; 
   justify-content: center; 
   align-items: center; 
}

.cabeza{

    position: fixed;
    text-align: center;
    border: 5px dashed rgb(255, 0, 0);
    border-radius: 100px;
    color: rgb(255, 0, 0);
    padding: 20px 20px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(2, 0, 0);
    width: 50px;
    transition: transform 0.3s;
}


h2 {
    text-align: center; 
    border: 2px dashed blueviolet; 
    border-radius: 50px;
    color: rgb(255, 255, 255);
    padding: 10px 18px; 
    font-family: Arial, Helvetica, sans-serif; 
    background-color: black; 
    width: 300px;
    transition: transform 0.3s; 
  }
  
  
  h2:hover {
    transform: scale(1.1); 
  }
  
  h1 {
    text-align: center;
    border: 2px dashed rgb(128, 0, 255);
    border-radius: 50px;
    color: rgb(255, 0, 0);
    padding: 10px 18px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: black;
    width: 300px;
    transition: transform 0.3s;
    display: flex;
    justify-content: center;
    align-items: center;
}
